<div class="container">
    <h1 class="mt-5">About</h1>

    <p>This project utilizes the following technologies:</p>

    <h3>Express</h3>
    <p>Express is a fast, unopinionated, and minimalist web application framework for Node.js.</p>

    <h3>EJS</h3>
    <p>EJS (Embedded JavaScript) is a simple templating language that lets you generate HTML markup with plain
        JavaScript.</p>

    <h3>Bootstrap</h3>
    <p>Bootstrap is a popular CSS framework that provides pre-designed components and responsive layout for building
        modern web applications.</p>

    <h3>PostgreSQL</h3>
    <p>PostgreSQL is a powerful, open-source object-relational database system known for its reliability and robust
        features.</p>

    <h3>finn-jobb npm package</h3>
    <p>The <a href="https://www.npmjs.com/package/finn-jobb">'finn-jobb'</a> npm package is a convenient tool for
        retrieving job listings from the Finn.no job portal.</p>

    <h3>Railways.app</h3>
    <p>This project is hosted on <a href="https://railways.app">railways.app</a>, a platform for deploying Node.js
        applications with ease.</p>

    <div class="mt-4">
        <h4>Project Repository</h4>
        <p>Visit the <a href="https://github.com/toremann/pg-test/">GitHub repository</a> for more information about
            this project.</p>
    </div>
</div>